.add-expense-container {
  padding: 1rem;

  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.toggle-button {
  background-color: #314a5e;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #263847;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #314a5e;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.submit-button {
  background-color: #314a5e;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #263847;
}
